/* CSS Document */

.sign {

	position: absolute;

	display: inline-block;

	height: 0.5243243243243246rem;

	width: 1.3008108108108109rem;

	line-height: 0.48243243243243246rem;

	margin-left: 0.21621621621621623rem;

	text-align: center;

	color: #fff;

	background-position: 100% 100%;

	background-size: 100% 100%;

	background-repeat: no-repeat;

}

.top-text{

	height: 0.5405405405405406rem;

	width: 0.5405405405405406rem;

	background-image: url(/images/icon-voice.png);

	background-position: 100% 100%;

	background-size: 100% 100%;

	background-repeat: no-repeat;margin-right:0.25rem

}

.gonlue-button {

    height: 0.78378rem;

    width: 1.89rem;

    right: 0.4054rem;

    bottom: 0.27rem;

    background-image: url(/images/gonglue-button.png);

    background-position: 100% 100%;

    background-size: 100% 100%;

    background-repeat: no-repeat;}

.fs10 {font-size: 0.26667rem;}



.sign1 {

	background-image: url(/images/icon-lable1.png);

}



.sign2 {

	background-image: url(/images/icon-lable2.png);

}



.sign3 {

	background-image: url(/images/icon-lable3.png);

}



.sign4 {

	background-image: url(/images/icon-lable4.png);

}



/*.sign5 {

	background-image: url(/images/icon-lable5.png);

} */

/* 大区域概括 */

.box{width:100%;height:auto;margin:0 auto;clear:both;}

.column-wrap{border-bottom: solid 10px #fff;}

.part{height:10px;background:#F0F0F0;}

.part-1{height:1px;background:#F0F0F0;}

.part-2{height:5px;background:#F0F0F0;}

.part-3{height:10px;background:#fff;}

.column-wrap1{border-bottom: solid 1px #F0F0F0;border-top: solid 10px #fff;}

/*全局色调:#19b5fe*/

/* 应用详情页 */

.app-top{margin:10px 0px;}

.app-info h1{ padding:0px; margin:0px; float:left}

.app-top .app-icon{float:left;width:80px;padding-right:10px;margin-bottom: 15px;}

.app-top .app-icon img{width:80px;height: 70px;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;border-radius: 6px;}

.app-top .app-info{float:left; margin-left:10px}

.app-top .app-info .app-name{width:100%;height:18px;font-weight:500;font-size:16px;line-height:20px;display:block;color:#444;overflow:hidden;}

.app-top .app-info .app-type{width:100%;height:30px;line-height:38px;display:block;color:#888;overflow:hidden;}

.app-top .app-info .app-type2{width:100%;height:15px;line-height:16px;display:block;color:#888;overflow:hidden;}

.app-top .app-info .level span{margin-left:0;}

.app-top .app-download{height:35px;width:100%;border-radius:15px;background:linear-gradient(135.5deg,#ff7e64,#f5313c);color:#FFFFFF;font-size:0.45rem;display:block;text-align:center;line-height:35px;box-shadow: 0 0 3px 0 rgba(246,54,61,.4);}

.app-details{margin:0 19px;}

.app-details .app-info2{width:100%;height:22px;}

.app-details .app-info2 span{width:50%;float:left;font-size:12px;line-height:13px;overflow:hidden;color:#888;}

.app-intro{margin:0 10px;font-size:14px;color:#333;}

.app-intro .app-infos{font-size:14px;line-height:22px;word-break:break-word;}



/* 标题 */

.title{height:50px;position:relative;line-height:10px}

.title.line{border:1px solid #F0F0F0;}

.title a{float:right;color:#666;line-height:18px;position:absolute;top:8px;right:10px}

.title h2,a .title h2{position:absolute;display:inline-block; height:16px;font-weight: bold; margin:15px 0px; border-left:3px solid #f73f43; float:left; font-size:0.45rem; line-height:16px; padding:0 5px;}

.title .enter{float:right;background:url(../img/enter.png) no-repeat center;width:12px;height:20px;background-size:12px 20px;position:absolute;top:8px;right:10px}

.title .tab-lock{float:right;margin:6px 0;width:136px;height:35px;font-size:15px;}

.title .tab-lock li{float:left;margin:0;padding: 5px;color:#19b5fe;border:1px solid #19b5fe;}

.title .tab-lock li.on{background-color:#19b5fe;color:#fff;}

.title .tab-lock li:nth-child(1){border-radius:4px 0 0 4px;}

.title .tab-lock li:nth-child(2){border-left-style:none;border-right-style:none;}

.title .tab-lock li:nth-child(3){border-radius:0 4px 4px 0;}

.title2{height:45px;position:relative;line-height:10px}

.title2 a{float:right;color:#666;line-height:18px;position:absolute;top:8px;right:10px}

.title2 h2,a .title2 h2{position:absolute;display:inline-block; height:16px;font-weight: normal; margin:10px 10px; border-left:3px solid #19b5fe; float:left; font-size:16px; line-height:16px; padding:0 5px;}

.title2 .enter{float:right;background:url(../img/enter.png) no-repeat center;width:12px;height:20px;background-size:12px 20px;position:absolute;top:8px;right:10px}



/* 截图 */

.m-slide-box{width: 100%;overflow-x: auto;-webkit-overflow-scrolling: touch;padding-bottom: 15px;}

.pic-slide{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}

.pic-slide li{-webkit-box-flex: 0;-webkit-flex: none;-ms-flex: none;flex: none;margin-left: 10px;width: 114px;height: 188px;overflow: hidden;}

.pic-slide li img{display: block;width:114px;height:188px;}



/* 相关推荐 */

.app-slide {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;padding: 0;list-style: none;font-size: 14px;}

.app-slide a {color: #333;}

.app-slide li {-webkit-box-flex: 0;-webkit-flex: none;-ms-flex: none;flex: none;text-align: center;margin-right: 18px;width:68px;overflow: hidden;}

.app-slide li img {width: 55px;height: 55px;display: block;margin: auto;border-radius: 13px;}

.app-slide figcaption {line-height: 30px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

.app-info-star{width:100%;}

.app-btn-down{height:28px;width:60px;border-radius:3px;border:1px solid #19b5fe;color:#19b5fe;font-size:14px;display:block;text-align:center;line-height:30px;margin-top:23px;float:right;position:absolute;right:10px;}

.app-btn-down2{height: 22px;line-height: 20px;padding: 0 12px;border-radius: 3px;border: solid 1px #f73f43;overflow: hidden;display: inline-block;color: #f73f43 !important;}

.app-btn-down3{height:28px;width:80px;border-radius:3px;border:1px solid #19b5fe;background:#19b5fe;color:#FFFFFF;font-size:16px;display:block;text-align:center;line-height:30px;margin-top:23px;float:right;position:absolute;right:10px;}

.app-tags{line-height:30px;margin:10px;}

.app-tags li a{display:inline-block;line-height:20px;padding:2px 0;border-radius:4px;border:1px solid #19b5fe;color:#19b5fe;text-align:center;}



.index-bottom-guide-fa{

	display: none;

	z-index: 888;

	position: fixed;

	bottom: 1.3rem;

	height: 1.06667rem;

	width: 100%;

	background-color: rgba(0, 0, 0, 0.7);

}



.index-bottom-guide {

	display: flex;

	width: 100%;

	height: 100%;

}



.index-bottom-guide img {

	position: absolute;

	width: 0.8rem;

	height: 0.8rem;

	left: 0.26667rem;

	top: 0.13333rem;

    border-radius: 3px;

}



.index-bottom-guide-text {

	position: absolute;

	height: 0.8rem;

	left: 1.33333rem;

	top: 0.13333rem;

}



.index-bottom-guide-text1 {

	font-size: 0.32rem;

	color: #fff;

	line-height: .4rem;

}



.index-bottom-guide-text2 {

	position: relative;

	font-size: 0.26667rem;

	color: #999;

	line-height: .4rem;

}



.index-bottom-guide-button-down {

	font-size: 0.32rem;

	position: absolute;

	text-align: center;

	width: 1.65333rem;

	height: 0.66667rem;

	line-height: 0.66667rem;

	right: 2.13333rem;

	top: 0.21rem;

	color: #fff;

	background-color: #007AFF;

	border-radius: 0.05333rem;

}



.index-bottom-guide-button-close {

	font-size: 0.32rem;

	position: absolute;

	text-align: center;

	width: 1.65333rem;

	height: 0.66667rem;

	line-height: 0.66666rem;

	right: 0.26667rem;

	top: 0.21rem;

	color: #007AFF;

	border: solid #007AFF 0.5px;

	border-radius: 0.05333rem;

}

.dede_pages{

}

.dede_pages{



	padding:12px 0px 30px 0px;

}

.dede_pages  li{

	float:left;

	font-family:Tahoma;

	line-height:17px;

	margin-right:6px;

	border:1px solid #E9E9E9;

}

.dede_pages  li a{

	float:left;

	padding:2px 4px 2px;

	color:#555;

	display:block;

}

.dede_pages  li a:hover{

	color:#690;

	text-decoration:none;

	padding:2px 4px 2px;

}


